<div class="card text-center bg-dark">
    <div class="card-body">
        <h5 class="card-title">¡Seguinos para mas contenido!</h5>
        <a href="https://www.x.com" target="_blank" class="link-social-media w-inline-block">
            <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/65a4fe4237b6a1c4fa714f76_x.svg"
                loading="lazy" alt="" class="image">
        </a>
        <a href="https://www.instagram.com" target="_blank" class="link-social-media w-inline-block">
            <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/65a4fe42d907d27f3dead7a0_instagram.svg"
                loading="lazy" alt="" class="image">
        </a>
        <a href="https://www.facebook.com" target="_blank" class="link-social-media w-inline-block">
            <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/65a4fe4173c1df8be608c8a2_facebook.svg"
                loading="lazy" alt="" class="image">
        </a>
        <a href="https://www.youtube.com" target="_blank" class="link-social-media w-inline-block">
            <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/65a4fe42d907d27f3dead7ad_youtube.svg"
                loading="lazy" alt="" class="image">
        </a>
    </div>
    <div class="card-footer">
        <a href="https://github.com/fedeiria/Laboratorio-IV" target="_blank" class="link-social-media w-inline-block">
            ©2025 - Fede
        </a>
    </div>
</div>
