<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
    <a class="navbar-brand">iMovies</a>
        <ul class="navbar-nav justify-content-center">
            <li class="nav-item">
                <a routerLink="/" class="nav-link" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Series</a>
            </li>
            <li class="nav-item">
                <a routerLink="/actor-listado" class="nav-link" href="#">Actors</a>
            </li>
        </ul>
        <app-busqueda/>
    </div>
</nav>