.container {
    margin-top: 25px;
    margin-bottom: 25px;
    width: auto;
}

.pagination {
    margin-right: 20px;
    margin-bottom: 25px;
}

.table {
    border: 1px;
    width: 97%;
    margin: 25px auto;
    text-align: center;
}

tr {
    cursor: default;
}